//- views/teacher/quiz_ready.pug
extends ../layout

block content
  .center-container
    .card
      h1= quiz.title
      p.small-text= quiz.subject_name
      p.code-label Quiz code:
      p.code-big= quiz.code
      p.small-text
        | Share this code with your students. They can join from their student dashboard.
      if quiz.status === 'open'
        form(method="post" action=`/teacher/quizzes/${quiz.id}/close`)
          button.btn-danger(type="submit") Close quiz and view analysis
      else if quiz.status === 'closed'
        a.btn-primary(href=`/teacher/quizzes/${quiz.id}/analysis`) View analysis
